<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts">
	<em
		>Loading... Please refresh once the ASP.NET backend has started. See
		<a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em
	>
</p>

<input id="customerfilter" [(ngModel)]="customerFilter" onchange="filterTextChange($event)" />
<!-- show vehicles-->
<h1 id="tableLabel">Vehicles</h1>

<table *ngIf="vehicles">
	<thead>
		<tr>
			<th>Vehicle Id</th>
			<th>Reg.No</th>
			<th>Status</th>
			<th>Customer Name</th>
			<th>Customer Address</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let vehicle of vehicles">
			<td>{{ vehicle.vehicleId }}</td>
			<td>{{ vehicle.regNo }}</td>
			<td>{{ vehicle.connectionStatus }}</td>
			<td>{{ vehicle.customerName }}</td>
			<td>{{ vehicle.customerAddress }}</td>
		</tr>
	</tbody>
</table>

<button (click)="startPing()">Start Vehicle Ping Simulation</button>
