<h1 id="tableLabel">Customer Vehicle Status</h1>

<p>Show status of the vehicle for every minute.</p>

<div class="actions">
	<input id="customerfilter" [(ngModel)]="customerFilter" placeholder="enter customer name" />
	<button (click)="startPing()">Start Vehicle Ping Simulation</button>
</div>

<!-- show vehicles-->
<h1 id="tableLabel">Vehicles</h1>

<table *ngIf="filteredVehicles">
	<thead>
		<tr>
			<th>Vehicle Id</th>
			<th>Reg.No</th>
			<th>Status</th>
			<th>Customer Name</th>
			<th>Customer Address</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let vehicle of filteredVehicles">
			<td>{{ vehicle.vehicleId }}</td>
			<td>{{ vehicle.regNo }}</td>
			<td>{{ vehicle.connectionStatus }}</td>
			<td>{{ vehicle.customerName }}</td>
			<td>{{ vehicle.customerAddress }}</td>
		</tr>
	</tbody>
</table>
